.thumb{
    height: 200px;
}

.thumb.active{
    border: 1px solid blue;
}

.thumbnails{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    align-items: center;
}

.prev,.next{
    position: absolute;
    bottom: 50px;
    transform: translateY(50%);
    background-color: white;
    border: none;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}
.prev{
    left: 50px;
}

.next{
    right: 50px;
}

.crossed{
    text-decoration: line-through;
}

.mysize{
    display: flex;
    justify-content: left;
    gap: 20px;
}

.radial{
    padding: 5px 10px;
    background-color: #F3F5F8;
    border: 1px solid black;
    border-radius: 20px;
}

.radial:hover:not(.crossed){
    background-color: aqua;
    border: 1px solid aquamarine;
}

.carousel-container .main-image img{
    width: 500px;
}

.thumbnails{
    overflow-x: scroll;
    width: 500px;
}